
/****************************************** page index ******************************/
body{
    max-width: 100%;
    background-color: rgb(203, 198, 216);
    background-image: url("img/fd24.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Lobster', cursive;
}

h1{
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    text-transform: uppercase;
    /* animation: title 3s ease-in-out infinite; */
    text-shadow: 8px 8px rgba(132, 218, 233, 0.466);
}
.smiley{
    display: flex;
    justify-content: center;
}
.smileyP1{
    width: 100px;
    height: 100px;
    margin-right: 90px;
}
.smileyP2{
    width: 100px;
    height: 100px;
    margin-left: 90px;
}
form{
    display: flex;
    justify-content: center;
}
.namePlayer{
    width: 190px;
    height: 20px;
    margin: 20px 40px 40px 40px;
    padding: 8px;
    background-color: rgba(172, 97, 233, 0.466);
    text-align: center;
    /* border-radius: 20%; */
    color: white;
    /* text-shadow: 1px 1px black; */
    font-family: 'Lobster', cursive;
    font-size: 22px;
    border: 0;
    box-shadow: 2px 2px rgba(98, 95, 100, 0.466);
}
.namePlayer:focus{
    outline: none;
}
.namePlayer:hover{
    transform: scale(1.2);
    transition: 1s;
    box-shadow:  4px 6px rgba(98, 95, 100, 0.466);
}
.button{
    display: flex;
    justify-content: center;
}
.play{
    width: 150px;
    height: auto;
    padding: 6px;
    text-align: center;
    border-radius: 20%;
    font-size: 22px;
    animation: title 3s ease-in-out infinite;
    margin-top: 20px;
}
.play:focus{
    outline: none;
}
.lien_play{
    color: black;
    text-shadow: 8px 8px rgba(132, 218, 233, 0.466);
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 26px;
}
.rules{
    color: black;
    font-family: 'Lobster' cursive;
    font-style: italic;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: 50px;
}
/*************************** page index 2 **********************************************/
h2{
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 8px 8px rgba(132, 218, 233, 0.466);
}
.pseudoP1, .pseudoP2{
    display: flex;
    margin-top: 180px;
}
.pseudoP1{
    margin-left: 200px;
}
.pseudoP2{
    margin-left: 200px;
}
.iconP1{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.iconP2{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
#name2, #name1{
    margin-top: 50px;
    font-size: 22px;
    width: 180px;
    height: auto;
    /* border: 1px black solid; */
    /* overflow: hidden; */
}
table{
    margin: auto;
    margin-top: 50px;
    width: 100%;
}
td{
    background-color: rgba(172, 97, 233, 0.466);
    border-radius: 20%;
    width: 100px;
    height: 100px;
}

td:hover{
    transform: rotate(360deg);
    transition: 2s;
    background-color: rgba(132, 218, 233, 0.466);
}
.sectionGame{
    display: flex;
    justify-content: space-around;
}
.refresh{
    margin-top: 40px;
}
.smiley1{
    background-image: url(img/smileyP1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 50%;
    height: 50%;
}
.smiley2{
    background-image: url(img/smileyP2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 50%;
    height: 50%;
}

/**************************************** page index 3 *******************************/
.container_rules{
    display: flex;
    justify-content: center;
}
.rules_TicTacToe{
    padding: 30px;
    margin-top: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
    text-align: justify;
    border: 2px white solid;
    background-color: rgba(132, 220, 233, 0.205);
}
.start{
    margin-top: 30px;
    animation: title 3s ease-in-out infinite;
}

/*****************************************animation sur plusieurs pages *************************/

@keyframes title{
    0%{
        text-shadow: 6px 6px rgba(172, 97, 233, 0.466);
    }
    50%{
        transform: scale(1.4);
        text-shadow: 8px 8px rgba(132, 218, 233, 0.466);
    }
    100%{
        text-shadow: 6px 6px rgba(172, 97, 233, 0.466);
    }
}